@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import '~antd/dist/antd.min.css';

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


html,
body {
    height: 100%;
    overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button:focus,
input:focus {
    outline: transparent;
}

html {
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}


